{% extends "layout.html" %}
{%load static %}
{%block body%}

<div class="container">
  <h1>Book Details</h1>
  <p>ID: {{ book.id }}</p>
  <p>Title: {{ book.title }}</p>
  <p>Description: {{ book.description }}</p>
  <p>Rate: {{ book.rate }}</p>
  <p>Views: {{ book.views }}</p>
  <img
    src="{%static 'books/images/eip.jpg'%}"
    alt="{{ book.title }}"
    style="height: 400px; display: block; margin: 20px 0px"
  />
  <a href="{% url 'books:index' %}" class="btn btn-primary">Back to list</a>
</div>

{% endblock body %}
